#root-auth {
  font-family: "Helvetica";
  height: 100vh;
  position: relative;
  display: flex;
  background: #0D28A6;
}

#root-auth::before {
  content: ".";
  flex-grow: 1;
  background-image: url("/public/image2.jpg");
  background-size: cover;
  /* mix-blend-mode: screen; */
  opacity: .55;
}

#root-auth > form {
  background: #fff;
  width: 482px;
  height: 100%;
  padding: 0 57px 0 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
}

#root-auth > form > div:nth-child(1) {
  width: 100px;
  height: 34px;
  background-color: #cfd4ed;
}

#root-auth > form > h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

/* alert */
#root-auth > form > div:nth-child(3) {
  padding: 12px 16px 12px 27px;
  background: rgba(208, 12, 26, 0.1);
  border-radius: 5px;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #d00c1a;
}

#root-auth > form > div:nth-child(4) {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

#root-auth > form > div:nth-child(4) > div {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

#root-auth > form > div:nth-child(4) > div > label {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

#root-auth > form > div:nth-child(4) > div > input {
  width: 100%;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

#root-auth > form > button {
  padding: 8px 12px;
  width: 100%;
  background: #0d28a6;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}